ion-content {
  width: 100%;
}

.item {
  width: 95%;
}

.btnCrypt {
  margin-top: 20px;
  width: 90%;
  left: 5%;
  text-transform: capitalize;
}

.btnDeCrypt{
  background-color: #32db64;
  margin-top: 10px;
  width: 90%;
  left: 5%;
  text-transform: capitalize;
}
